body {
    background-color: #f8f8f8;
}

.logo {

}

.menu a {
    text-decoration: none;
    font-family: fantasy;
    font-size: 24px;
    color: #6c71c4;
    font-style: italic;
}

.menu li {
    list-style-type: none;
}

.menu a:hover {
    color: #268bd2;
}

h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.description:first-letter {
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 200%;
    color: #6c71c4;
}

.detailed {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.detailed:first-letter {
    font-family: Arial, Liberation Sans, DejaVu Sans, sans-serif;
    font-size: 200%;
    color: #6c71c4;
}

.frame {
    outline: 3px solid #6c71c4;
}

.frame:hover {
    outline: none;
}

input[type]::-webkit-input-placeholder {
    width: 150px;
    height: 13px;
    color: #b58900;
    font-style: italic;
    font-size: 14px;
}

input[type="submit"] {
    width: 80px;
    height: 20px;
}

.colortext:focus {
    background-color: bisque;
    color: olive;
}

input[type] {
    text-transform: capitalize;
}

textarea {
    width: 150px;
}

.list {
    list-style-image: url("icons/marker.png");
    font-size: 18px;
    font-style: oblique;
    color: #487e3a;
}

th, td {
    border: 3px solid #000000;
    text-align: center;
}

th {
    background-color: #6c71c4;
}

td {
    background-color: #268bd2;
}

.upString {
    height: 50px;
}

footer {
    text-align: center;
}

